.MyNavBar {
  background-color: #059475;
}

.LeafLogo {
  height: 3rem;
  object-fit: cover;
}

.ReceiptLogo{
  border-radius: 50%;
  border: 1px solid grey;
  height: 2rem;
  width: 2rem;
}

.ReceiptContainer{
  width: 60vw !important;
  border: 1px solid grey;
  border-radius: 0.75rem;
}

.UploadFile{
  padding-bottom: 2.25rem !important;
}

.AnalyseReceiptBtn{
  background-color: #059475 !important;
}